Repository dootbin/gsuite_setup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @owner1, @owner2, @core-team-member1, @core-team-member2, @devops-lead, @docs-team, @security-team

bump deno version for pipe
  .github/workflows/dev-tests.yml
  .github/workflows/master-release.yml
  .github/workflows/pr-validation.yml
Owners: @devops-lead, @core-team-member1

linting
  README.md
  config/config.example.json
  src/csv-parser.ts
  src/google-api.ts
  src/logger.ts
  src/main.ts
  src/ou-manager.ts
  src/sync-engine.ts
  tests/ou-manager.test.ts
  tests/sync-engine.test.ts
Owners: @docs-team, @core-team-member1, @core-team-member2, @owner1, @owner2

update perms
  .github/workflows/master-release.yml
Owners: @devops-lead, @core-team-member1

update for apple silicon
  .github/workflows/master-release.yml
Owners: @devops-lead, @core-team-member1

linting
  README.md
Owners: @docs-team

email formatting options
  config/config.example.json
  scripts/character-count.ts
  src/ou-manager.ts
  src/sync-engine.ts
  src/types.ts
  tests/ou-manager.test.ts
Owners: @core-team-member1, @core-team-member2, @owner1, @owner2

fix failing tests
  scripts/character-count.ts
  src/ou-manager.ts
  src/sync-engine.ts
  tests/ou-manager.test.ts
Owners: @owner1, @owner2, @core-team-member1, @core-team-member2

.github/CODEOWNERS:

# CODEOWNERS file
# This file defines who owns what parts of the repository
# Global owners - these users will be requested for review on all PRs
* @owner1 @owner2

# Source code requires review from core team
src/ @core-team-member1 @core-team-member2

# CI/CD pipeline changes require DevOps review  
.github/ @devops-lead @core-team-member1

# Documentation changes can be reviewed by anyone on the team
*.md @docs-team

# Configuration files require careful review
*.json @core-team-member1 @core-team-member2
*.env* @security-team @core-team-member1

# Replace the placeholder usernames above with actual GitHub usernames
# Examples:
# * @bmiles @john-doe
# src/ @senior-dev @tech-lead
# .github/ @devops-engineer @bmiles
